@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

#menu-g .mbr-brand__name {
  font-size: 16px;
}
#menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-g .mbr-navbar__section {
  background: #ffffff;
}
#menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-g .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
}
