@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

#features1-h P {
  text-align: center;
}
#features1-h .mbr-header__subtext {
  text-align: center;
}
#menu-g .mbr-brand__name {
  font-size: 16px;
}
#menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-g .mbr-navbar__section {
  background: #ffffff;
}
#menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-g .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
}
#contacts1-i P {
  text-align: left;
}

#menu-m .mbr-brand__name {
  font-size: 16px;
}
#menu-m.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-m .mbr-navbar__section {
  background: #ffffff;
}
#menu-m .mbr-navbar__hamburger {
  color: #ffffff;
}
#menu-m .mbr-brand__name a {
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
}
#contacts1-n P {
  text-align: left;
}
